/* ------GLOBAL------ */
:root {
  --rouge: #E50914;
  --noir: #141414;
  --blanc: #fff;
  --font-fam: "Inter", sans-serif;
  --radius-l: 18px;
  --radius-s: 8px;
  --duration: .3s;
  --a-type: ease-in-out;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
  --height: 5rem;
  --btn-width: 6rem;
}

html {
  font-family: var(--font-fam);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--blanc);
  background-color: var(--noir);
}

a {
  text-decoration: none;
  color: inherit;
}

.highlight {
  color: var(--rouge);
}

.container {
  width: 1140px;
  margin: 0 auto;
}

header {
  padding: 16px 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* ------HEADER------ */
#logo {
  width: 200px;
}

#navHeader {
  display: flex;
  align-items: center;
  gap: 24px;

  a:hover {
    color: var(--rouge);
  }

  #register {
    padding: 8px 16px;
    border: 2px solid var(--rouge);
    transition: all var(--duration) var(--a-type);
  }

  #register:hover {
    background-color: var(--rouge);
    color: var(--blanc);
  }
}

/* ------SEARCH BAR------ */
#info-container {
  position: relative;
  padding: 24px 0;

  #searchForm {
    position: relative;
    width: 30rem;
    background: var(--rouge);
    border-radius: var(--radius-s);
  }

  input,
  button {
    height: var(--height);
    font-family: var(--font-fam);
    border: 0;
    color: var(--noir);
    font-size: 1.8rem;
  }

  input[type="search"] {
    outline: 0;
    width: 100%;
    background: var(--blanc);
    padding: 0 1.6rem;
    border-radius: var(--radius-s);
    appearance: none;
    transition: all var(--duration) var(--bez);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
  }

  button {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: var(--btn-width);
    font-weight: bold;
    background: var(--color-brand);
    border-radius: 0 var(--rad) var(--rad) 0;
  }

  input:not(:placeholder-shown) {
    border-radius: var(--rad) 0 0 var(--rad);
    width: calc(100% - var(--btn-width));

    +button {
      display: block;
    }
  }

  label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
}

/* ------POPULAR MOVIES------ */
.moviesContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.cardContainer {
  position: relative;
  background: #000;
  border-radius: var(--radius-l);
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  transition: all var(--duration) var(--a-type);

  img {
    width: 100%;
    aspect-ratio: 6/9;
    transition: all var(--duration) var(--a-type);
  }
}

.movieInfo {
  position: absolute;
  bottom: -100%;
  transition: all var(--duration) var(--a-type);
  height: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  div {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

.cardContainer:hover {
  .movieInfo {
    bottom: 0;
    background-color: #000a;
  }

  img {
    transform: scale(1.1);
  }
}

#saveMovie {
  position: absolute;
  top: 16px;
  right: 16px;
}

/* ------BEST RATED MOVIES------ */
.rankCard {
  display: flex;
  align-items: center;
  position: relative;
}
.movieRank {
  font-size: 70px;
  font-weight: 900;
  color: var(--noir);
  -webkit-text-stroke: var(--blanc) 2px;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

/* ------ALERT------ */
.alert {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 16px;

  &&.success {
    background-color: yellowgreen;
    color: green;
  }

  &&.error {
    background-color: #ff4c4c;
    color: darkred;
  }
}

/* ------HOME------ */
.watchlistHeader {
  display: flex;
  align-items: center;
  gap: 32px;
}